{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="jumbotron">
    <div class="container">
        <h3>Grupos Cadastrados</h3>
        <br>
        <br>
        <a class="btn btn-info" href="{% url 'corporate:group-create' %}">Novo Grupo</a>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:150px">Código</th>
                    <th style="width:550px">Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for group in groups %}
            <tbody>
                <tr>
                    <td>{{ group.cod_grupo }}</td>
                    <td>{{ group.descricao }}</td>
                    <td align="center"><a href="{% url 'corporate:delete_group' group.slug %}"><img
                                src="{% static 'ionic/deletar.png' %}" width="20" height="20" title="Deletar"></a></td>
                    <td align="center"><a href="{% url 'corporate:group-update' group.slug %}"><img
                                src="{% static 'ionic/editar.png' %}" width="20" height="20" title="Editar"></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}