{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="jumbotron">

    {% if form.instance.pk %}
    <h2>Atualização de Empresa </h1>
        {% else %}
        <h2>Cadastro de Empresas</h1>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-lg btn-primary" type="submit" value="Save">Salvar</button>
            </form>

</div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(() => {

        //Quando o campo cnpj perde o foco.
        $("#id_cnpj").blur(() => {

            cnpj = $("#id_cnpj").val().replace(/[^\d]+/g, '');

            console.log(cnpj);

            if (cnpj == '') {
                $("#id_cnpj").val("");
                alert("CNPJ inválido.");
            } else
                if (cnpj.length != 14) {
                    $("#id_cnpj").val("");
                    alert("CNPJ inválido.");
                } else
                    if (cnpj == "00000000000000" ||
                        cnpj == "11111111111111" ||
                        cnpj == "22222222222222" ||
                        cnpj == "33333333333333" ||
                        cnpj == "44444444444444" ||
                        cnpj == "55555555555555" ||
                        cnpj == "66666666666666" ||
                        cnpj == "77777777777777" ||
                        cnpj == "88888888888888" ||
                        cnpj == "99999999999999") {
                        $("#id_cnpj").val("");
                        alert("CNPJ inválido.");
                    } else {

                        tamanho = cnpj.length - 2
                        numeros = cnpj.substring(0, tamanho);
                        digitos = cnpj.substring(tamanho);
                        soma = 0;
                        pos = tamanho - 7;
                        for (i = tamanho; i >= 1; i--) {
                            soma += numeros.charAt(tamanho - i) * pos--;
                            if (pos < 2)
                                pos = 9;
                        }
                        resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                        if (resultado != digitos.charAt(0)) {
                            $("#id_cnpj").val("");
                            alert("CNPJ inválido.");
                        }

                        tamanho = tamanho + 1;
                        numeros = cnpj.substring(0, tamanho);
                        soma = 0;
                        pos = tamanho - 7;
                        for (i = tamanho; i >= 1; i--) {
                            soma += numeros.charAt(tamanho - i) * pos--;
                            if (pos < 2)
                                pos = 9;
                        }
                        resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                        if (resultado != digitos.charAt(1)) {
                            $("#id_cnpj").val("");
                            alert("CNPJ inválido.");
                        }
                    }
        });
    });
</script>
{% endblock extra_scripts %}